.vscode/
docs/
*.o
*.d
*.a
test/
config/buildconf.makefile
config/buildconf.sh
config/sniper.py
frontend/pin-frontend/obj-intel64/
frontend/pin-frontend/sift/fixed_types.h
frontend/pin-frontend/sift/sift.h
frontend/pin-frontend/sift/sift_assert.h
frontend/pin-frontend/sift/sift_format.h
frontend/pin-frontend/sift/sift_reader.cc
frontend/pin-frontend/sift/sift_reader.h
frontend/pin-frontend/sift/sift_utils.cc
frontend/pin-frontend/sift/sift_utils.h
frontend/pin-frontend/sift/sift_writer.cc
frontend/pin-frontend/sift/sift_writer.h
frontend/pin-frontend/sift/siftdump.cc
frontend/pin-frontend/sift/zfstream.cc
frontend/pin-frontend/sift/zfstream.h
include/linux/perf_event.h
lib/
mcpat/
python_kit/
sift/recorder/obj-intel64/
sift/recorder/sift/fixed_types.h
sift/recorder/sift/sift.h
sift/recorder/sift/sift_assert.h
sift/recorder/sift/sift_format.h
sift/recorder/sift/sift_reader.cc
sift/recorder/sift/sift_reader.h
sift/recorder/sift/sift_utils.cc
sift/recorder/sift/sift_utils.h
sift/recorder/sift/sift_writer.cc
sift/recorder/sift/sift_writer.h
sift/recorder/sift/siftdump.cc
sift/recorder/sift/zfstream.cc
sift/recorder/sift/zfstream.h
sift/siftdump
tools/debugpin.pyc
tools/env_setup.pyc
tools/gen_simout.pyc
tools/run_sniper.pyc
tools/sniper_config.pyc
tools/sniper_lib.pyc
tools/sniper_stats.pyc
tools/sniper_stats_sqlite.pyc
tools/addr2line.pyc
xed/
xed_kit/
