.vscode
.idea
test/OT_testcase.txt
pprof*
cmd/ssq/
config/mpc.mps 
config/text.log
example/*/expand 
example/*/cp
example/*/0_constp
example/*/1_expand
example/*/2_unused
example/*/3_inlined
example/*/4_codegen
pg/
ppt/
test/*.test
*.outconfig/config.json

